<div class="btn-group hide" id="header-visit-profile">
  <button type="button" class="btn btn-default dropdown-toggle header-control-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="img/no_photo.png" alt="perfil" class="img-circle header-profile-photo" id="header-visit-profile-photo" height="45px" width="45px">  
    <label class="header-profile-name" id="header-visit-profile-name"></label>  
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#"><label><span class="glyphicon glyphicon-ok-sign"></span> | Seguir</label></a></li>
    <li><a href="#"><label><span class="glyphicon glyphicon-send"></span> | Enviar mensaje</label></a></li>
  </ul>
</div><!-- /.btn-group -->