<!-- view photo -->
<div class="modal fade" id="view-post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="view-name"></h4>
      </div>
      <div class="modal-body text-center">
      	<p id="view-photo"></p>
      	<hr />
        <p id="view-description"></p>
        <p><small id="view-date"></small></p>
        <p>
	        <button class="btn btn-danger"><span class="glyphicon glyphicon-heart"></span> 0</button>
	        <button class="btn btn-info"><span class="glyphicon glyphicon-comment"></span> 0</button>
	        <button class="btn btn-success"><span class="glyphicon glyphicon-retweet"></span> 0</button>
	    </p>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->